@import '../../../variables';
@import '../../../backgroundcolors';
@import '../../../animations';

.groupview-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
  padding: 16px;
  color: var(--text-color);
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  z-index: 800;
}

.groupview-screen .spinner-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: grid;
  place-items: center;
  font-size: 36px;
  color: gray;
}

.groupview-titleheader {
  font-size: 24px;
  font-weight: 700;
}

.groupview-subheader {
  font-weight: 600;
  font-size: 18px;
  margin-top: 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.groupview-editmembersbutton {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #3B82F6;
}

.groupview-conditionalcontainer {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.groupview-removewarning {
  font-size: 12px;
  color: red;
}

.groupview-pillcontainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 28px;
  flex-wrap: wrap;
}

.pill {
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  color: var(--text-color);
}

.pillcolor-white {
  background-color: var(--main-pill);
}

.pillcolor-gray {
  background-color: var(--overlay);
}
