@import '../../../variables';
@import '../../../backgroundcolors';
@import '../../../animations';

.groupview-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  padding: 26px;
  color: var(--text-color);
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.groupview-titleheader {
  font-size: 24px;
  font-weight: 700;
}

.groupview-subheader {
  font-weight: 600;
  font-size: 18px;
  margin-top: 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.groupview-editmembersbutton {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #3B82F6;
}

.groupview-conditionalcontainer {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.groupview-removewarning {
  font-size: 12px;
  color: red;
}

.groupview-pillcontainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 28px;
}

.pill {
  padding: 10px;
  border-radius: 14px;
  font-size: 14px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.pillcolor-white {
  background-color: var(--main-pill);
}

.pillcolor-gray {
  background-color: var(--main-pill);
}
