@import "../../../variables";
.feedback {
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 50px;
  top: 0px;

  padding: 16px;
}

.feedback .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feedback .information {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  margin-bottom: 18px;
}

.feedback textarea {
  width: 100%;
  background-color: var(--overlay);
  resize: none;
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 22px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.feedback .submit-button {
  background-color: var(--overlay);
  padding: 10px;
  color: var(--text-color);
  display: block;
  margin: auto;
  border-radius: 8px;
  width: 33%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.feedback .version {
  position: absolute;
  bottom: 6px;
  right: 6px;
  color: gray;
  font-size: 12px;
}
