@import "../../../variables";
@import "../../../backgroundcolors";

.comments {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 900;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.15);
  //Animation
  transform: translateY(40vh);
  display: none;
  background-color: var(--overlay);
  color: var(--text-color);
}

.comments-trans-enter {
  transform: translateY(40vh);
  display: block;

}

.comments-trans-enter-active {
  display: block;
  transition: transform 0.16s ease-out;
  transform: translateY(0px);
}

.comments-trans-enter-done {
  display: block;
  transform: translateY(0px);
}

.comments-trans-exit {
  transform: translateY(0px);
  display: block;

}

.comments-trans-exit-active {
  display: block;
  transition: transform 0.1s ease-out;
  transform: translateY(800px);
}

.comments-trans-exit-done {
  display: none;
  transform: translateY(0px);
}


.comments-headerbar {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.comments-add-container {
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  background-color: var(--text-field-bg);
}

.comments-add-textfield {
  flex-grow: 1;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--text-field-bg);
  color: var(--text-color);
} 

.comments-add-sendbutton {
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  color: #3B82F6;
}

.comments-overlay-clickoff {
  position: fixed;
  background-color: black;
  opacity: 0.2;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 200;
}

.comments-bubblecontainer {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-top: 10px;
  max-height: 60vh;
}

.bubble {
  max-width: 70%;
  width: fit-content;
}

.bubble-content {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-weight: 600;
}

.bubble-mine {
  align-self: flex-end;
  color: white;
  text-align: right;
}

.bubble-other {
  background-color: var(--bubble);
}

.bubble-username {
  font-weight: 700;
  color: gray;
  margin-left: 5px;
}

.post-latestcomment {
  margin-bottom: 12px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}
