@import "../../../variables";

.userlist {
  positon: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 26px;
}

.userlist .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.userlist .number {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 18px;
}

.userlist .usercontainer {
  margin-top: 26px;
}

.userlist .username {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 12px;
}

.userlist .updatebutton {
  background-color: var(--overlay);
  padding: 10px;
  color: var(--text-color);
  display: block;
  margin: auto;
  border-radius: 8px;
  width: 33%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
