@import '../../../variables';
@import '../../../backgroundcolors';
@import '../../../animations';

.feed-screen {
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
}

.newpost-container {
  padding: 10px;
  border-radius: 8px;
  background-color: $new-group-gray;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  z-index: 200;
  max-height: 40px;
  overflow-y: hidden;
}

.newpost-open {
  max-height: 900px;
  transition: all 0.3s ease-out;
}

.newpost-createbutton {
  font-weight: 700;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  align-self: center;
}


.newpost-input {
  border: 1px solid white;
  position: relative;
  background-color: $new-group-gray;
  left: 0px;
  right: 0px;
  resize: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding: 10px;
}

.newpost-titleandclose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newpost-closeicon {
  position: absolute;
  right: 0px;
  font-size: 20px;
}

