@import '../../../variables';
@import '../../../backgroundcolors';
@import '../../../animations';

.feed-screen {
  animation-duration: 0.15s;
  animation-name: fadein;
  background-color: var(--background-color);
  padding: 16px;
}

.newpost-container {
  padding: 10px;
  border-radius: 8px;
  background-color: $new-group-gray;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  z-index: 200;
  overflow-y: hidden;
  max-height: 40px;
}

.newpost-open {
  max-height: 900px;
  transition: max-height 0.4s ease-in-out;
}

.newpost-createbutton {
  font-weight: 700;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  align-self: center;
}


.newpost-input {
  border: 1px solid white;
  position: relative;
  background-color: $new-group-gray;
  left: 0px;
  right: 0px;
  resize: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px;
}


.newpost-titleandclose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newpost-closeicon {
  position: absolute;
  right: 0px;
  font-size: 20px;
}

