@import '../../../variables';
@import '../../../backgroundcolors';

.feed-screen {
  margin: 26px;

}

.newpost-container {
  padding: 10px;
  border-radius: 8px;
  background-color: $new-group-gray;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));

  //For open state
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.newpost-createbutton {
  font-weight: 700;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  align-self: center;
}


.newpost-input {
  border: 1px solid white;
  position: relative;
  background-color: $new-group-gray;
  left: 0px;
  right: 0px;
  resize: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding: 10px;
}

.newpost-titleandclose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newpost-closeicon {
  position: absolute;
  right: 0px;
  font-size: 20px;
}

