@import "../../../../../backgroundcolors";
@import "../../../../../animations";
@import "../../../../../variables";

.groupselect-container {
  width: 100%;
  position: relative;
  z-index: 900;
  font-size: 14px;
}

.groupselect-top-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid white;
}

.groupselect-items-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #545454;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 0px;
  overflow-y: scroll;
  z-index: 900;

  animation-name: groupselect-expand;
  animation-duration: 0.10s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.groupselect-item {
  text-align: left;
  padding: 10px;
  background-color: #545454;
}

.groupselect-item:not(:last-child) {
  border-bottom: 1px solid #434343;
}

.groupselect-item:hover {
  background-color: #5e5e5e;
}
