@import "../../variables";

.navbar {
  background-color: var(--bar-background);
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: var(--faded-icon);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  z-index: 700;
}

.navbar-icon-container {
  width: 80px;
  text-align: center;

}

.navbar-icon-active {
  color: var(--icon-active);
}
