@import '../../../variables';
@import '../../../backgroundcolors';
@import '../../../animations';

.groups-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  padding: 0px 16px 16px 16px;
}


.groups-header {
  font-size: 24px;
  font-weight: 700;
  margin-top: 28px;
  background-color: var(--background-color);
  color: var(--text-color);
}


.groups-linkcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 600px) {
  .groups-linkcontainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grouplink-container {
  margin-top: 10px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}
