@import "../../../../variables";
@import "../../../../backgroundcolors";

.addmemberoverlay-container {
  position: fixed;
  bottom: 50px;
  right: 0px;
  left: 0px;
  padding: 16px;
  background-color: #F1F1F1;
  z-index: 500;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(40vh);
  display: none;
}


.addmemberoverlay-header {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.addmemberoverlay-pillcontainer {
  max-height: 50vh;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  overflow-y: scroll;
}

.addmemberoverlay-filterinput {
  border-radius: 8px;
  padding: 6px 10px 6px 10px;
  margin: 10px 0px 10px 0px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
}







.addmemberoverlay-t-enter {
  transform: translateY(40vh);
  display: block;

}

.addmemberoverlay-t-enter-active {
  display: block;
  transition: transform 0.1s ease-out;
  transform: translateY(0px);
}

.addmemberoverlay-t-enter-done {
  display: block;
  transform: translateY(0px);
}

.addmemberoverlay-t-exit {
  transform: translateY(0px);
  display: block;

}

.addmemberoverlay-t-exit-active {
  display: block;
  transition: transform 0.1s ease-out;
  transform: translateY(800px);
}

.addmemberoverlay-t-exit-done {
  display: none;
  transform: translateY(0px);
}
