@import "../../variables";
@import "../../backgroundcolors";

.post-container {
  position: relative;
  max-width: 100%;
  color: white;

  border-radius: 8px;

}

.post-top {
  padding: 10px;
}

.post-topinfo {
  display: flex;
  justify-content: center;
}

.post-author {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 10px;
}

.post-grouplink {
  font-size: 14px;
  font-weight: 700;
  justify-self: center;
  text-decoration: underline;
}

.post-timestamp {
  font-size: 14px;
  font-weight: 700;
  justify-self: flex-end;
  position: absolute;
  right: 10px;
}

.post-maintext {
  margin: 10px;
  font-size: 18px;
}

.post-viewcomments {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.post-bottom {
   background-color: rgba(0, 0, 0, 0.2);
   padding: 8px;
   border-radius: 8px;
}
