@import "../../variables";
@import "../../backgroundcolors";

.post-container {
  max-width: 100%;
  color: white;
  border-radius: 8px;
}

.post-top {
  padding-top: 10px;
}

.post-topinfo {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
}

.post-author, .post-timestamp {
  flex-grow: 1;
  flex-basis: 0;
}

.post-author {
  font-size: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-grouplink {
  font-size: 13px;
  font-weight: 700;
  justify-self: center;
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 50%;
}

.post-timestamp {
  font-size: 13px;
  font-weight: 700;
  text-align: right;
}

.post-maintext {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.post-viewcomments {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
}

.post-bottom {
   background-color: rgba(0, 0, 0, 0.2);
   padding: 8px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}
