@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes groupselect-expand {
  from {
    max-height: 0px;
  }
  to {
    max-height: 255px;
  }
}

@keyframes slideinright {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideinleft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}
