@import './variables';

.convo-bg-red {
  background-color: $convo-red;
}

.convo-bg-orange {
  background-color: $convo-orange;
}

.convo-bg-mustard {
  background-color: $convo-mustard;
}

.convo-bg-yellow {
  background-color: $convo-yellow;
}

.convo-bg-lime {
  background-color: $convo-lime;
}

.convo-bg-green {
  background-color: $convo-green;
}

.convo-bg-mint {
  background-color: $convo-mint;
}

.convo-bg-bluegreen {
  background-color: $convo-bluegreen;
}

.convo-bg-cyan {
  background-color: $convo-cyan;
}

.convo-bg-skyblue {
  background-color: $convo-skyblue;
}

.convo-bg-deepblue {
  background-color: $convo-deepblue;
}

.convo-bg-purpleblue {
  background-color: $convo-purpleblue;
}

.convo-bg-purple {
  background-color: $convo-purple;
}

.convo-bg-pink {
  background-color: $convo-pink;
}

.convo-bg-pinkred {
  background-color: $convo-pinkred;
}
