@import './variables';
.convo-bg-black {
  background-color: $convo-black;
}

.convo-bg-red {
  background-color: $convo-red;
}

.convo-bg-redorange {
  background-color: $convo-redorange;
}

.convo-bg-orange {
  background-color: $convo-orange;
}

.convo-bg-mustard {
  background-color: $convo-mustard;
}

.convo-bg-yellow {
  background-color: $convo-yellow;
}

.convo-bg-green {
  background-color: $convo-green;
}

.convo-bg-mint {
  background-color: $convo-mint;
}

.convo-bg-bluegreen {
  background-color: $convo-bluegreen;
}

.convo-bg-cyan {
  background-color: $convo-cyan;
}

.convo-bg-skyblue {
  background-color: $convo-skyblue;
}

.convo-bg-deepblue {
  background-color: $convo-deepblue;
}

.convo-bg-purpleblue {
  background-color: $convo-purpleblue;
}

.convo-bg-purple {
  background-color: $convo-purple;
}

.convo-bg-pink {
  background-color: $convo-pink;
}

.convo-bg-pinkred {
  background-color: $convo-pinkred;
}

.convo-bg-rainbow {

background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;

}

.convo-bg-black {
  background-color: black;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
