$tw-blue-500:      #3b82f6;
$tw-green-500:     #10b981;
$tw-gray-100:      #f3f4f6;

$convo-black:      #000000;
$convo-red:        #f21b1b;
$convo-orange:     #ef6f44;
$convo-mustard:    #ef9c44;
$convo-yellow:     #F59E0B;
$convo-green:      #11ba41;
$convo-mint:       #44ef77;
$convo-bluegreen:  #44efad;
$convo-cyan:       #11b5ba;
$convo-skyblue:    #44b9ef;
$convo-deepblue:   #4744ef;
$convo-purpleblue: #7d44ef;
$convo-purple:     #b344ef;
$convo-pink:       #ef44ef;
$convo-pinkred:    #ef44a5;

$new-group-gray:   #434343;
$convo-light-gray: #f1f1f1;
