$tw-blue-500:      #3b82f6;
$tw-green-500:     #10b981;
$tw-gray-100:      #f3f4f6;

$convo-red:        #ef4444;
$convo-orange:     #ef6f44;
$convo-mustard:    #ef9c44;
$convo-yellow:     #efe944;
$convo-lime:       #c7ef44;
$convo-green:      #74ef44;
$convo-mint:       #44ef77;
$convo-bluegreen:  #44efad;
$convo-cyan:       #44efe6;
$convo-skyblue:    #44b9ef;
$convo-deepblue:   #4744ef;
$convo-purpleblue: #7d44ef;
$convo-purple:     #b344ef;
$convo-pink:       #ef44ef;
$convo-pinkred:    #ef44a5;
