$tw-blue-500:      #3b82f6;
$tw-green-500:     #10b981;
$tw-gray-100:      #f3f4f6;

$convo-black:      #000000;
$convo-red:        #f21b1b;
$convo-orange:     #f2711b;
$convo-redorange:  #f2541b;
$convo-mustard:    #ef9c44;
$convo-yellow:     #bda419;
$convo-green:      #03AC2D;
$convo-mint:       #00db71;
$convo-bluegreen:  #00B182;
$convo-cyan:       #0EA4AA;
$convo-skyblue:    #009BC2;
$convo-blue:       #397AE4;
$convo-deepblue:   #4744ef;
$convo-purpleblue: #7d44ef;
$convo-purple:     #b344ef;
$convo-pink:       #D040C2;
$convo-pinkred:    #ef44a5;

$new-group-gray:   #434343;
$convo-light-gray: #f1f1f1;

body {
  --background-color: white;
  --text-color: black;
  --overlay: #f1f1f1;

  --faded-icon: #B6B6B6;
  --bar-background: #F1F1F1;
  --icon-active: black;

  //comments
  --text-field-bg: white;
  --main-pill: white;
}

.theme-dark {
  --background-color: #1c1c1c;
  --text-color: white;
  --text-color: white;
  //comments
  --overlay: #2b2b2b;

  //navbar
  --faded-icon: #808080;
  --bar-background: #383838;
  --icon-active: white;

  --text-field-bg: #333333;
  --main-pill: #333333;
}
