* {
  font-family: Inter, sans-serif;
  border: none;
  box-sizing: border-box;
}

div.firebase-emulator-warning {
  //top: 0;
  height: 30px;
  width: 30px !important;
  overflow: hidden;
  background-color: lime !important;
  display: none;
}
